.avatar-header {
  display: block;
  text-decoration: none;
}

.avatar {
  border-radius: 50%;
  box-shadow: 0px 2px 3px rgb(0 0 0 / 20%);
  max-width: 50px;
}

.name {
  color: #000;
  font-weight: 500;
  font-size: 2.25em;
  margin-top: 0;
  line-height: 1;
}

.link {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  transition: 0.2s linear;
}

.link:hover {
  color: rgba(138, 92, 246, 0.8);
  text-decoration-line: underline;
  text-underline-offset: 4px;
  text-decoration-style: dashed;
}